%title-50 {
    font-family: $font-ampersand;
    font-size: 5rem;
}

%title-120 {
    font-family: $font-ampersand;
    font-size: 12rem;
}

%title-140 {
    font-family: $font-ampersand;
    font-size: 14rem;
}

%title-180 {
    font-family: $font-ampersand;
    font-size: 18rem;
}

%title-200 {
    font-family: $font-ampersand;
    font-size: 20rem;
}