@font-face {
    font-family: 'Ampersand', sans-serif;
    src: url('../assets/fonts/ampersand.woff2') format('woff2'),
        url('../assets/fonts/ampersand.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal', sans-serif;
    src: url('../assets/fonts/neue-montreal-regular.woff2') format('woff2'),
        url('../assets/fonts/neue-montreal-regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

